@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/*
font-family: 'Rubik', sans-serif;
font-weight: 400;
font-weight: 500;
*/

.wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.search-bar {
    width: 100%;
}

.search-bar input {
    padding: 12px 26px;
    width: 100%;
    border: 1px solid blue;
}

.sort-filter {
    margin: 16px 0;
    display: flex;
}

.sort-filter__wrap {
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.sort-filter__wrap a {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    margin-right: 6px;
    transition: 0.3s;
}

.sort-filter__wrap a:hover {
    color: red;
}

.sort-filter__wrap span {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 6px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -35px;
}

.card {
    width: calc(20% - 35px);
    margin-top: 35px;
    margin-left: 35px;
    box-sizing: border-box;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: -12px 12px 18px rgba(181, 193, 204, 0.3);
    padding: 10px;
    flex-direction: column;
    position: relative;
    display: none;
}

.card.show {
    display: flex;
}

.card__cross {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.card__cross:hover {
    transform: scale(1.2);
}

.card__cross::before {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: red;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    pointer-events: none;
}

.card__cross::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: red;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
    pointer-events: none;
}

.card img {
    width: calc(100% + 20px);
    margin: -10px 0px 10px -10px;
}

.card h5 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 14px;
}

.card div {
    margin-bottom: 10px;
    font-size: 16px;
}

.card .card__date {
    margin-bottom: 0;
    margin-top: auto;
    font-size: 14px;
    font-weight: 500;
}

.card__episode {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.card__episode span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hide-btn {
    text-decoration: none;
    font-size: 20px;
    display: none;
    width: 100px;
    margin: 30px auto;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 8px 16px;
    transition: 0.3s;
}

.hide-btn.show {
    display: block;
}

.hide-btn:hover {
    color: red;
    border-color: red;
}